<header>
    <nav>
        <div class="container1">
            <div class="box-nav d-flex justify-between">
                <a href="/users/doctor"><span class="text-gradient"><i class="fa-solid fa-arrow-left"></i></span></a>
            </div>
        </div>
        <div class="container1">
            <div class="text-center">
                Add a doctor here
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <form action="/users/add-doctor" method="post">
      <div class="row">
        <div class="col-25">
          <label for="fname">Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="fname" name="name" placeholder="Enter name here.." value="<%= typeof name != 'undefined' ? name : '' %>">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Email</label>
        </div>
        <div class="col-75">
          <input type="email" id="lname" name="email" placeholder="Enter email here.." value="<%= typeof email != 'undefined' ? email : '' %>">
        </div>
      </div>
      <!-- <div class="row">
          <div class="col-25">
            <label for="lname">Phone Number</label>
          </div>
          <div class="col-75">
            <input type="number" id="number" name="number" placeholder="Enter phone number here.." value="">
          </div>
        </div> -->
      <div class="row">
          <div class="col-25">
              <label for="lname">Password</label>
          </div>
          <div class="col-75">
              <input type="password" id="password" name="password" placeholder="Enter doctor's password.." value="<%= typeof password != 'undefined' ? password : '' %>">
          </div>
      </div>
      <div class="row">
        <div class="col-25">
            <label for="lname">Confirm Password</label>
        </div>
        <div class="col-75">
            <input type="password" id="password2" name="password" placeholder="Enter doctor's password.." value="<%= typeof password2 != 'undefined' ? password2 : '' %>">
        </div>
    </div>
      <!-- <div class="row">
          <div class="col-25">
            <label for="country">Gender</label>
          </div>
          <div class="col-75">
            <select id="country" name="country">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
        </div> -->
      <br>
      <div class="row">
        <input type="submit" value="Submit">
      </div>
    </form>
  </div> 


