<header>
    <nav>
        <div class="container1">
            <div class="box-nav d-flex justify-between">
                <a href="/index.html"><span class="text-gradient"><i class="fa-solid fa-arrow-left"></i></span></a>
            </div>
        </div>
        <div class="container1">
            <div class="text-center">
                Add a doctor here
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <form action="">
    <div class="row">
      <div class="col-25">
        <label for="fname">Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="firstname" placeholder="Enter name here..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname">Email</label>
      </div>
      <div class="col-75">
        <input type="email" id="lname" name="lastname" placeholder="Enter email here..">
      </div>
    </div>
    <div class="row">
        <div class="col-25">
          <label for="lname">Phone Number</label>
        </div>
        <div class="col-75">
          <input type="number" id="number" name="lastname" placeholder="Enter phone number here..">
        </div>
      </div>
    <div class="row">
        <div class="col-25">
            <label for="lname">Password</label>
        </div>
        <div class="col-75">
            <input type="password" id="password" name="password" placeholder="Enter doctor's password..">
        </div>
    </div>
    <div class="row">
        <div class="col-25">
          <label for="country">Gender</label>
        </div>
        <div class="col-75">
          <select id="country" name="country">
            <option value="australia">Male</option>
            <option value="canada">Female</option>
          </select>
        </div>
      </div>
    <br>
    <div class="row">
      <input type="submit" value="Submit">
    </div>
    </form>
  </div>      