<div>
    <p>welcome to the dashboard <%= user.name %></p>
    <ul>
        <li><a href="#">Dashboard</a></li>
        <li><a href="/users/view-admin">View Users</a></li>
        <li><a href="/users/set-pricing">Set Pricing</a></li>
        <li><a href="">Reports</a></li>
        <li><a href="/users/admin-logout">Logout</a></li>
    </ul>
</div>
