<header>
  <nav>
      <div class="container">
          <div class="box-nav d-flex justify-between">
              <a href="/users/view-admin"><span class="text-gradient"><i class="fa-solid fa-arrow-left"></i></span></a>
          </div>
      </div>
      <div class="container">
          <div class="text-center">
              Doctors currently
          </div>
      </div>
  </nav>
</header>
<main id="site-main">
  <div class="container">
      <div class="box-nav d-flex justify-between">
          <a href="/users/add-doctor"><span class="text-gradient">New Doctor <i class="fas fa-user"></i></span></a>
      </div>
  </div>
</main>
<form action="">
  <table>
      <tr>
      <th>Name</th>
      <th>email</th>
      <th>Gender</th>
      <th>Number</th>
      <th>Action</th>
      </tr>
      <tr>
      <td>Peter griffin</td>
      <td>Griffin@email.com</td>
      <td>Male</td>
      <td>0721994488</td>
      <td>
          <a href="" class="btn border-shadow-update">
              <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
          </a>
          <a href="" class="btn border-shadow-delete">
              <span class="text-gradient"><i class="fas fa-times"></i></span>
          </a>
      </td>
      </tr>
      <tr>
          <td>rolly rolling</td>
          <td>Griffin@email.com</td>
          <td>Male</td>
          <td>0777794488</td>
          <td>
              <a href="/update-user.html" class="btn border-shadow-update">
                  <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
              </a>
              <a href="" class="btn border-shadow-delete">
                  <span class="text-gradient"><i class="fas fa-times"></i></span>
              </a>
          </td>
      </tr>
      <tr>
          <td>alexa iphone</td>
          <td>alexis@email.com</td>
          <td>female</td>
          <td>0721994488</td>
          <td>
              <a href="" class="btn border-shadow-update">
                  <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
              </a>
              <a href="" class="btn border-shadow-delete">
                  <span class="text-gradient"><i class="fas fa-times"></i></span>
              </a>
          </td>
      </tr>
      <tr>
          <td>James bond</td>
          <td>jre@email.com</td>
          <td>Male</td>
          <td>0721774488</td>
          <td>
              <a href="" class="btn border-shadow-update">
                  <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
              </a>
              <a href="" class="btn border-shadow-delete">
                  <span class="text-gradient"><i class="fas fa-times"></i></span>
              </a>
          </td>
      </tr>
  </table>
</form>