<div class="admin-login">
  <%- include ("./partials/messages") %>
  <form action="/users/login" method="POST">
    <div class="f">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="enter email here">
    </div>
    <div class="f">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" placeholder="enter password here">
    </div>
    <button type="submit">Login</button>
    <p class="lead mt-4">
      No account? <a href="/users/register">Register</a>
    </p>
  </form>
  <a href="/">welcome page</a>
</div>