
<div>
    <ul>
        <li><a href="/users/admin-dash">Dashboard</a></li>
        <li><a href="/users/view-admin">View Users</a></li>
        <li><a href="#">Set Pricing</a></li>
        <li><a href="">Reports</a></li>
        <li><a href="/users/admin-logout">Logout</a></li>
    </ul>

    <p>welcome to set pricing tab</p>
</div>
