<section>
    <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
          <div class="nav-title">
            Admin Tab
          </div>
        </div>
        <div class="nav-btn">
          <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>
        
        <div class="nav-links">
          <a href="#">Dashboard</a>
          <a href="#">View Users</a>
          <a href="/users/set-pricing">Pricing</a>
          <a href="#">Reports</a>
          <!-- <a href="#" target="">View Pricing</a> -->
          <a href="/users/admin-logout">Logout</a>
        </div>
      </div>
      <p>welcome to the view users tab</p>

</section>

<section class="card-section">
    <div class="card">
        <img src="/img/patient2.jpg" alt="John" style="width:100%">
        <h1>Patient</h1>
        <!-- <p class="title">CEO & Founder, Example</p>
        <p>Harvard University</p>
        <a href="#"><i class="fa fa-dribbble"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a> -->
        <p><button class="card-button"><a href="">Access</a></button></p>
    </div>
    <div class="card">
        <img src="/img/doctors.jpg" alt="John" style="width:100%">
        <h1>Doctor</h1>
        <!-- <p class="title">CEO & Founder, Example</p> -->
        <!-- <p>Harvard University</p> -->
        <!-- <a href="#"><i class="fa fa-dribbble"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a> -->
        <p><button class="card-button"><a href="">Access</a></button></p>
    </div>
</section>
