
<div>
    <ul>
        <li><a href="/users/admin-dash">Dashboard</a></li>
        <li><a href="#">View Users</a></li>
        <li><a href="/users/set-pricing">Set Pricing</a></li>
        <li><a href="">Reports</a></li>
        <li><a href="/users/admin-logout">Logout</a></li>
    </ul>

    <p>welcome to view users tab</p>
</div>
