<div class="row">
    <p>choose login method for user</p>
    <a href="/users/register">register</a>
    <a href="/users/login">login</a>
    <p>choose login method for admin</p>
    <a href="/users/admin">login</a>
</div>