* {
  box-sizing: border-box;
}

body {
  /* margin: 0px; */
  font-family: 'segoe ui';
}


/* admin login */

.admin-login {
  background-color: white;
  text-align: center;
  margin: auto;
  width: 50%;
  border: 3px solid grey;
  padding: 70px;
  border-radius: 10px;
}

.admin-login .f {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}

.admin-login button {
  border-radius: 10px;
  background-color: #008CBA;
  color: white;
  padding: 12px 28px;
  border: none;
  text-decoration: none;
  display: inline-block;
}


/* navbar */
.nav {
  height: 50px;
  width: 100%;
  background-color: #379237;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.nav > #nav-check {
  display: none;
}

@media (max-width:768px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
    cursor:pointer;
  }
  .nav > .nav-links {
    position: absolute;
/*     display: block; */
    width: 100%;
    background-color: #333;
    max-height: 200px;
    transition: all 0.5s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    max-height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
/*     height: calc(100vh - 50px); */
    max-height:300px;
    overflow-y: hidden;
  }
}

/* cards */
.card-section{
  position: absolute;
  align-items: center;
  margin: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  /* right: 0; */

.card {
  position: relative;
  display: inline-block;}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
.card-button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
.card  a {
    text-decoration: none;
    font-size: 22px;
    color: white;
  }
  
.card  button:hover, a:hover {
    opacity: 0.7;
  }