/* admin login */

.admin-login {
  background-color: white;
  text-align: center;
  margin: auto;
  width: 50%;
  border: 3px solid grey;
  padding: 70px;
  border-radius: 10px;
}

.admin-login .f {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}

.admin-login button {
  border-radius: 10px;
  background-color: #008CBA;
  color: white;
  padding: 12px 28px;
  border: none;
  text-decoration: none;
  display: inline-block;
}